body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 34%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("../images/frutas.jpeg");
}

.card {
    height: 70vh !important;
}

.card-content {
    width: 80%;
    margin: 0px 30px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.form {
    width: 100%;
}

.card-content p {
    font-size: 14px;
}

.gender-choice {
    display: flex;
    margin: 30px 0;
    justify-content: space-around;
}

.gender-input {
    display: flex;
    padding: 10px 20px;
    color: white;
}

.gender-input input {
    margin-right: 8px;
}

.men {
    background-color: #0000FF;
}

.woman {
    background-color: #FF0000;
}

.inputs {
    width: 100%;
}

.button-container {
    width: 100%;
}

.register-button {
    background-color: #FF5F5F !important;
    color: white !important;
    width: 100%;
}
